%br
%br

= Time.now.strftime("%B %d, %Y")
%p To Whom It May Concern:
%p International Center
%p UCM
%p UN 302
%p Warrensburg, MO 64093

%br
%br
%br
%br

%p
  %strong To Whom It May Concern: 

%br
%br

%p
  = @form.student_name
  (
  = @form.student_id
  ) currently a student in the Master of Science in Computer Science Program in the Department of Mathematics and Computer Science.  Spring 2016  will be his/her last semester of study at UCM. Per his/her request, for the spring term of 2016, the student will be enrolled in three hours of CS5020 Internship in Computer
  Science. The student will conduct an internship with
  = @form.company_name
  in 
  = @form.company_address
  \. If additional information is required, please contact me.

%br
%br
%br
%br

%p Sincerely, 
%p Taylor Nicole Gee, MA, Student Services Coordinator 
%p Department of Mathematics and Computer Science
